[submodule "themes/freedom"]
	path = themes/freedom
	url = git@github.com:gu-gridh/freedom.git
	branch = saga
[submodule "modules/AdvancedResourceTemplate"]
	path = modules/AdvancedResourceTemplate
	url = git@github.com:Daniel-KM/Omeka-S-module-AdvancedResourceTemplate.git
[submodule "modules/ApiInfo"]
	path = modules/ApiInfo
	url = git@github.com:Daniel-KM/Omeka-S-module-ApiInfo.git
[submodule "modules/AnalyticsSnippet"]
	path = modules/AnalyticsSnippet
	url = git@github.com:Daniel-KM/Omeka-S-module-AnalyticsSnippet.git
[submodule "modules/AnalyticsSnippetPiwik"]
	path = modules/AnalyticsSnippetPiwik
	url = git@github.com:Daniel-KM/Omeka-S-module-AnalyticsSnippetPiwik.git
[submodule "modules/BlockPlus"]
	path = modules/BlockPlus
	url = git@github.com:Daniel-KM/Omeka-S-module-BlockPlus.git
[submodule "modules/BulkEdit"]
	path = modules/BulkEdit
	url = git@github.com:Daniel-KM/Omeka-S-module-BulkEdit.git
[submodule "modules/CleanUrl"]
	path = modules/CleanUrl
	url = git@github.com:Daniel-KM/Omeka-S-module-CleanUrl.git
[submodule "modules/Common"]
	path = modules/Common
	url = git@github.com:Daniel-KM/Omeka-S-module-Common.git
[submodule "modules/CopyResources"]
	path = modules/CopyResources
	url = git@github.com:omeka-s-modules/CopyResources.git
[submodule "modules/CSSEditor"]
	path = modules/CSSEditor
	url = git@github.com:omeka-s-modules/CSSEditor.git
[submodule "modules/CSVImport"]
	path = modules/CSVImport
	url = git@github.com:omeka-s-modules/CSVImport.git
[submodule "modules/CustomVocab"]
	path = modules/CustomVocab
	url = git@github.com:omeka-s-modules/CustomVocab.git
[submodule "modules/ItemCarouselBlock"]
	path = modules/ItemCarouselBlock
	url = git@github.com:omeka-s-modules/ItemCarouselBlock.git
[submodule "modules/ItemSetParty"]
	path = modules/ItemSetParty
	url = git@github.com:biblibre/omeka-s-module-ItemSetParty.git
[submodule "modules/Mapping"]
	path = modules/Mapping
	url = git@github.com:omeka-s-modules/Mapping
[submodule "modules/NumericDataTypes"]
	path = modules/NumericDataTypes
	url = git@github.com:omeka-s-modules/NumericDataTypes
[submodule "modules/Timeline"]
	path = modules/Timeline
	url = git@github.com:Daniel-KM/Omeka-S-module-Timeline.git
[submodule "modules/ImageAnnotate"]
	path = modules/ImageAnnotate
	url = git@github.com:omeka-s-modules/ImageAnnotate.git
