/.ant-targets-build.xml
/.htaccess
/.php_cs.cache
/build/
/config/local.config.php
/config/database.ini
/config/cleanurl.config.php
/logs/sql.log
/logs/application.log
/files/
/themes/default
/application/test/config/database.ini
/application/test/.phpunit.result.cache
/application/asset/css/font-awesome/
/vendor/
/node_modules/
package-lock.json
.sass-cache
.DS_Store
/application/language/debug.*
/modules/*